numpy==1.26.4
pillow
opencv-python
plyfile
huggingface_hub
safetensors
accelerate
easydict
h5py
hydra-core
hydra-colorlog
omegaconf
pandas
prettytable
rich
scipy
tensorboard
timm
transformers
tqdm
pyyaml
